---
layout: default
---

{% assign cv = site.data.cv_cn %}
{% include cv_cn/intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>
    <div>
      <div class="entries">
        {% include cv_cn/basics.html %}
        {% include cv_cn/work.html %}
        {% include cv_cn/volunteer.html %}
        {% include cv_cn/education.html %}
        {% include cv_cn/awards.html %}
        {% include cv_cn/publications.html %}
        {% include cv_cn/skills.html %}
        {% include cv_cn/languages.html %}
        {% include cv_cn/interests.html %}
        {% include cv_cn/references.html %}
      </div>
    </div>
  </div>
</main>
